.board {
    --n: 3;
    display: grid;
    grid-template-columns: repeat(var(--n), 1fr);
    grid-template-rows: repeat(var(--n), 1fr);
    grid-gap: 8px;
    height: 500px;
    width: 500px;
}

.cell {
    background: yellow;
    height: 100%;
    width: 100%; 
}